<section>
    <div class="box-full">
      <div class="wrapper">

        <div class="ng-baloo-brand">
            <img src="../assets/ng-baloo.png" alt="">
        </div>
        <h1 class="center">
          ng-baloo
        </h1>
        <h2 class="center slogan">
          Angular's bare necessities of life.
        </h2>

        <div class="center">

          <button class="btn btn-outline-dark" routerLink="/demo">Demo</button>
          <button class="btn btn-dark">Download</button>
                  
          <!-- 
            # Download Later Versions 
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Download</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">1.0</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>-->
        <pre class="version">1.0</pre>
        </div>

    </div>
  </div>  
</section>